.banner__container
  width: 100vw
  height: 642px

.banner__container--first
  background-image: url(../../resource/img/banner-frist.png)
  background-size: cover
  background-position: center

.banner__dots
  button
    background: #364d79 !important
